<div class="content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="section-header">
        <h1>Guest Book</h1>
      </div>
      <div class="row guestbook">

        <?php if(strlen($success)>0){?>
        <div class="col-md-12">
          <div class="alert alert-success closed.bs.alert">
            <p>
              <?php echo $success;?>
            </p>
          </div>
          <?php }?>

          <?php if(strlen($error)>0){?>
          <div class="col-md-12">
            <div class="alert alert-danger">
              <p>
                <?php echo $error;?>
              </p>
            </div>
            <?php }?>

             <?php if(isset($errorMessage) && count($errorMessage)>0){?>

              <div class="alert alert-danger alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <?php

                    foreach($errorMessage as $error){

                    echo $error.'<br>';

                  }}?>

                  </div>

            <?php if(count($messages)>0){
              foreach ($messages as $message) {
                $title = $message['title'];
                $content = $message['content'];
                $name = $message['name'];
            ?>
            <div class="panel panel-default panel-guestbook">
              <div class="panel-heading">
                <div class="guestbook__title">
                  <?php echo $title;?>
                </div>
              </div>
              <div class="panel-body">
                <div class="guestbook__text">
                  <?php echo $content;?>
                </div>
              </div>
              <div class="panel-footer">
                <div class="guestbook__writer"><strong>Added By:</strong>
                  <?php echo $name;?>
                </div>
              </div>
            </div>
            <?php } }?>

            <div class="col-md-12">
              <br /><br />
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <h1>Add new message</h1>
              </div>

                </div>

              <form class="form-horizontal" method="post" action="guestbook.php">
                <div class="form-group">

                  <label for="title" class="col-sm-3 control-label">Message Title</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="title" placeholder="Message Title" name="title">
                  </div>
                </div>
                <div class="form-group">
                  <label for="content" class="col-sm-3 control-label">Message Content</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="6" id="content" placeholder="Message Content" name="content"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name" class="col-sm-3 control-label">Your Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="email" class="col-sm-3 control-label">Your Email</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-danger"><i class="fa fa-comments"></i> Add Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>